.container {
    max-width: 100%;
	min-height: auto;
}

/*header*/ 
div.head {
	min-height: 50%;
	float: left;
}

/* site_logo */
div#Logo {
	width: 100px;
	margin-left: -5px;
}

/* site_main_heading */
div#main_heading {
	width: 60%;
	margin-left: 20px;
}

/* contain the menu */
.menu {
	max-height: auto;
	max-width: 100%;
	float: left;
	margin-left: 90px;
	margin-top: 5%;
}

/* container of Banner and heading */
.container_banner {
	max-width: 100%;
	margin-top: 10%;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.1);
}

/* make Image responsive */
.responsive {
    max-width: 100%;
    height: auto;

}
.responsive1 {
    max-width: 100%;
    height: 120px;

}

/* Top news Container*/
.container_Top_news {
	height: 30px;
	max-width: 100%;
	border-bottom: 3px solid silver;
}

div.container_data {
	float: left;
}

div#more {
	margin-left: 90%;
	
}

.list {
	height: auto;
	max-width: 100%;
	border-bottom: 2px solid silver;
}

tr {
	height: 40px;
}

td {
	width: 300px;
}

/* weather container */
.weather_container {
	
}

/* container of weather log and text */
div.weather {
	margin-left: 20px;
	height: auto;
	float: left;
}

div#weather_img {
	width: 200px;
}

/* weather_text*/
div#weather_text {
	max-width: 90%;
}

#weather_id {
	margin-left: -1px;
}

/* Top news heading heading container*/
.container_latest_news_heading {
	height: 30px;
	max-width: 100%;
	border-bottom: 3px solid silver;
}

.Latest_news_container {
	max-width: 100%;
	height: auto;
}

div.Latest_news {
	float: left;	
	height: 100px;
	margin-top: 30px;
	background-color: red;
}

/* latest news heading */
#latest_news_h2id {
	margin-top: -100px;
	margin-left: 170px;
}

/* latest news paragraph */
#latest_news_Pid {
	margin-top: -10px;
	max-width: 80%;
	margin-left: 170px;
}

.footer {
 	max-width: 100%;
 	height: auto;
 	margin-top: 40px;
 	border-bottom: 3px solid silver;
 	border-top: 2px solid silver;
}

